extends layout

block content
    .w3-container.w3-section
        .w3-card-4
            header.w3-container.w3-light-blue
                h2 Novo Ficheiro

            form.w3-container(action="/api/ficheiros" method="post" enctype="multipart/form-data")
                .w3-container(id='lista')
                    .w3-container(id='f1')
                        p Ficheiro 1
                        input.w3-input.w3-border.w3-section.w3-light-grey(type="text" name="desc" placeholder="Descrição")
                        input.w3-input.w3-border.w3-section.w3-light-grey(type="file" name="ficheiro")
                button.w3-button.w3-round-large.w3-indigo(id='mais1') +1
                input.w3-btn.w3-circle.w3-border.w3-margin-bottom.w3-right.w3-blue-grey(type="submit" value="Enviar")

    .w3-card-4.modal(id="display")

    .w3-container.w3-section
        .w3-card-4
            header.w3-container.w3-light-blue
                h2 Lista de Ficheiros
            .w3-container
                if (lista.length > 0)
                    table.w3-table-all.w3-section
                        tr
                            th Data
                            th Descrição
                            th Tipo
                            th Nome
                            th Tamanho
                        each f in lista
                            tr(id = 'f_' + f._id, class = 'ficheiro', onclick="showFicheiro("+ JSON.stringify(f) + ")")
                                td= f.date
                                td= f.desc
                                td= f.mimetype
                                td= f.name
                                td= f.size
                else
                    p Não tem nenhum ficheiro armazenado
